body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.parent {
  background-color: rgb(206, 233, 248);
  padding: 60px;
  width: 800px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  align-content: space-between;
}

.child {
  border: 2px solid rgb(17, 7, 128);
  box-sizing: border-box;
  height: 80px;
  width: 100%;
}

/* 利用主轴剩余空间 */
.child2 {
  flex-grow: 1;
}
